[submodule "cube20src"]
	path = cube20src
	url = https://github.com/rokicki/cube20src.git
[submodule "vcube"]
	path = vcube
	url = https://github.com/Voltara/vcube.git
[submodule "h48"]
	path = nissy-core
	url = https://github.com/sebastianotronto/h48.git
[submodule "RubiksCube-OptimalSolver"]
	path = RubiksCube-OptimalSolver
	url = https://github.com/hkociemba/RubiksCube-OptimalSolver.git
[submodule "CubeExplorer"]
	path = CubeExplorer
	url = https://github.com/cs0x7f/CubeExplorer.git
	branch = fpc
[submodule "nissy-classic"]
	path = nissy-classic
	url = https://github.com/sebastianotronto/nissy-classic.git
[submodule "3ColorCube"]
	path = 3ColorCube
	url = https://github.com/mfeather1/3ColorCube.git
[submodule "optjava"]
	path = optjava
	url = https://github.com/abdelmaged92/Rubiks-Cube-Optimal-Solver.git
