[submodule "cube20src"]
	path = cube20src
	url = https://github.com/rokicki/cube20src.git
[submodule "vcube"]
	path = vcube
	url = https://github.com/Voltara/vcube.git
[submodule "h48"]
	path = h48
	url = https://github.com/sebastianotronto/h48.git
[submodule "RubiksCube-OptimalSolver"]
	path = RubiksCube-OptimalSolver
	url = https://github.com/hkociemba/RubiksCube-OptimalSolver.git
